<div class="badge-section" style="margin-right: 0;">
    <button class="custom-badge">
        <span class="white">ATT&CK Version</span><span class="purple">{{attack_version}}</span>
    </button>
    <button class="custom-badge">
        <span class="white">ATT&CK Domain</span><span class="purple">{{attack_domain}}</span>
    </button>
    {% if versions %}
        <button class="custom-badge">
            <span class="white">{{control}}</span><span class="purple">{{control_version}}</span>
        </button>
    {% endif %}
    <button class="icon-btn">
        {%- if previous_link -%}
            <a href={{previous_link}} style="color: black">
        {%- else -%}
            <a href="../" style="color: black">
        {%- endif -%}
            <img src="{{url_prefix}}static/img/gear.svg" alt="">
            Change Versions
        </a>
    </button>
    <button class="icon-btn-sm">
        {%- if previous_link -%}
            <a href={{previous_link}} style="color: black">
        {%- else -%}
            <a href="../" style="color: black">
        {%- endif -%}
            <img src="{{url_prefix}}static/img/gear.svg" alt="">
        </a>
    </button>
</div>
