<div class="badge-section" style="margin-right: 0;">
    <button class="icon-btn">
        <a href="../" style="color: black">
            <img src="{{url_prefix}}static/img/gear.svg" alt="">
            Change Versions
        </a>
    </button>
    {% if versions %}
        <button class="custom-badge" style="margin-left: auto;">
            <span class="white">{{control}}</span><span class="purple">{{control_version}}</span>
        </button>
    {% endif %}
    <button class="custom-badge">
        <span class="white">ATT&CK Version</span><span class="purple">{{attack_version}}</span>
    </button>
    <button class="custom-badge">
        <span class="white">ATT&CK Domain</span><span class="purple">{{domain}}</span>
    </button>
</div>
