    <div id="banner" class="banner">
        <p>You're currently viewing ATT&CK Version {{attack_version}}
            {{attack_domain}}
            {% if versions %} and {{control}} {{control_version}}{%-endif-%}.
            <a class="banner-link" href="../">
            Change versions here.</a>
        </p>
    </div>
