    <div id="banner" class="banner fade-up">
        <p>You're currently viewing ATT&CK Version {{attack_version}}
            {{attack_domain}}
            {%- if not versions -%}.{%-endif-%}
            {% if versions %} and {{control}} {{control_version}}.{% endif %}
            <span> </span>
            {%- if previous_link -%}<a class="banner-link" href={{previous_link}}>Change versions here.</a>{%-endif-%}
            {%- if not previous_link -%}<a class="banner-link" href="../">Change versions here.</a>{%-endif-%}
        </p>
    </div>
