{% block breadcrumbs %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs ">
      <ol>
        {% for item in breadcrumbs %}
          {% if not loop.last %}
            <li><a href="{{item[0]}}">{{item[1]}}</a></li>
          {% endif %}
          {% if loop.last %}
            <li>{{item[1]}}</li>
          {% endif %}
        {% endfor %}
      </ol>
    </div><!-- End Breadcrumbs -->
{% endblock breadcrumbs %}
