  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 col-md-12 footer-info">
            <a href="{{url_prefix}}" class="logo d-flex align-items-center">
              <img src="{{url_prefix}}static/img/mappings_explorer_header_logo_h60.png" alt="Mappings Explorer" />
            </a>
            <p>
              The <a href="https://ctid.mitre.org/" target="_blank">Center for Threat-Informed Defense</a>
              is a non-profit, privately funded research and development organization.
              Our mission is to advance the state of the art and the state of the practice
              in threat-informed defense globally.
            </p>

            <div class="d-flex mt-3 gap-4">
              <a href="https://ctid.mitre.org/" target="_blank" style="margin: auto 0">
                <img src="{{url_prefix}}static/img/mitre-logo.png" alt="center for threat informed defense logo" style="height: 25px;"/></a>
              <div class="social-links d-flex">
                <a href="mailto:ctid@mitre.org?subject=Mappings%20Explorer" class="email"><i class="bi bi-envelope"></i></a>
                <a href="https://www.linkedin.com/showcase/center-for-threat-informed-defense/" target="blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/playlist?list=PLALq3Th79NnpUkRy8TUYVBKvysCp9xwNh" target="blank" class="youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://github.com/center-for-threat-informed-defense/mappings-explorer" target="blank" class="github"><i class="bi bi-github"></i></a>
              </div>
            </div>
          </div>
           <div class="col-lg-2 col-6 footer-links">
            <h4>About</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}about/">Overview</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}about/methodology/">Methodology</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}about/related-projects/">Related Projects</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}about/scoring/">Scoring Rubric</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}about/use-cases/">Use Cases</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>ATT&CK Objects</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}attack/matrix/">Matrix</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}attack/attack-10.1/domain-enterprise/tactics/">Tactics</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}attack/attack-10.1/domain-enterprise/techniques/">Techniques</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Mappings Frameworks</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/">About Mappings</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/aws/">Amazon Web Services (AWS)</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/azure/">Azure</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/kev/">Known Exploited Vulnerabilities</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/gcp/">Google Cloud Platform (GCP)</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/intel-vpro/">Intel vPro</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/nist/">NIST 800-53</a></li>
              <li><i class="bi bi-dash"></i> <a href="{{url_prefix}}external/veris/">VERIS</a></li>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
