<div class="mapping-projects-section row gy-5">
    {% for framework in projects %}
        <div class="col-lg-4 col-md-6 service-item d-flex">
            <div>
                <h4 class="title"><a href="{{url_prefix}}external/{{framework.id}}/" class="stretched-link">{{framework.label}}</a></h4>
                <blockquote>
                <p>{{framework.description}}</p>
                </blockquote>
                <div class="section-details">
                <p>
                    <span>ATT&CK {{ 'Versions' if framework.attackVersions|length > 1 else 'Version' }} <strong>{{framework.attackVersions |join(', ')}}</strong></span>
                    <span>ATT&CK {{ 'Domains' if framework.attackDomains|length > 1 else 'Domain' }} <strong>{{framework.attackDomains |join(', ')}}</strong></span>
                </p>
                <a href="{{url_prefix}}external/{{framework.id}}/" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
