<div class="row gy-5">
    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/nist" class="stretched-link">NIST 800-53</a></h4>
            <blockquote>
            <p>The NIST 800-53 is a cybersecurity standard and compliance framework developed by the National Institute of Standards in Technology. It’s a continuously updated framework that tries to flexibly define standards, controls, and assessments based on risk, cost-effectiveness, and capabilities.</p>
            </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>8.2, 9.0, 10.1</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/nist" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>

            </div>
        </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/veris" class="stretched-link">VERIS</a></h4>
            <blockquote>
            <p>
                The Vocabulary for Event Recording and Incident Sharing (VERIS) is a set of metrics designed to provide a common language for describing security incidents in a structured and repeatable manner.
                VERIS targets this problem by helping organizations to collect useful incident-related information and to share that information - anonymously and responsibly - with others.
            </p>
            </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>9.0, 12.1</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/veris" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>

            </div>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/cve" class="stretched-link">CVE</a></h4>
            <blockquote>
            <p>
                CVE, short for Common Vulnerabilities and Exposures, is a list of publicly disclosed computer security flaws. When someone refers to a CVE, they mean a security flaw that's been assigned a CVE ID number.
                CVEs help IT professionals coordinate their efforts to prioritize and address these vulnerabilities to make computer systems more secure.
            </p>              </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>9.0</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/cve" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/aws" class="stretched-link">Amazon Web Services</a></h4>
            <blockquote>
            <p>The NIST 800-53 is a cybersecurity standard and compliance framework developed by the National Institute of Standards in Technology. It’s a continuously updated framework that tries to flexibly define standards, controls, and assessments based on risk, cost-effectiveness, and capabilities.</p>
            </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>8.2, 9.0, 10.1</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/aws" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>

            </div>
        </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/azure" class="stretched-link">Azure</a></h4>
            <blockquote>
            <p>
                The Vocabulary for Event Recording and Incident Sharing (VERIS) is a set of metrics designed to provide a common language for describing security incidents in a structured and repeatable manner.
                VERIS targets this problem by helping organizations to collect useful incident-related information and to share that information - anonymously and responsibly - with others.
            </p>
            </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>9.0, 12.1</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/azure" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>

            </div>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div>
            <h4 class="title"><a href="{{url_prefix}}/output/external/gcp" class="stretched-link">Google Cloud Platform</a></h4>
            <blockquote>
            <p>
                CVE, short for Common Vulnerabilities and Exposures, is a list of publicly disclosed computer security flaws. When someone refers to a CVE, they mean a security flaw that's been assigned a CVE ID number.
                CVEs help IT professionals coordinate their efforts to prioritize and address these vulnerabilities to make computer systems more secure.
            </p>              </blockquote>
            <div class="section-details">
            <p>
                <span><strong>300</strong> Mappings</span>
                <span>ATT&CK Versions <strong>9.0</strong></span>
            </p>
            <a href="{{url_prefix}}/output/external/gcp" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        </div><!-- End Service Item -->

    </div>
</div>
