<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{{url_prefix}}" class="logo d-flex align-items-center">
        <img src="{{url_prefix}}static/img/CTID-brand.png" alt="">
        <h1 class="d-flex align-items-center">MAPPINGS <span style="margin-left: 5px; color: #C2EAF6;"> Explorer</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_prefix}}" class="active">HOME</a></li>
          <li class="dropdown"><a href="#"><span>ATT&CK OBJECTS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Tactics</a></li>
              <li><a href="#">Techniques</a></li>
              <li><a href="#">Data Sources/ Data Components</a></li>
              <li><a href="#">Groups</a></li>
              <li><a href="#">Search All ATT&CK Objects</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>MAPPING CONTROLS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{url_prefix}}external">External Mappings Home</a></li>
              <li class="dropdown"><a href="{{url_prefix}}external/veris/12.0/1.3.7"><span>VERIS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                    <li><a href="{{url_prefix}}external/veris/9.0/1.3.5">VERIS v1.3.5 to ATT&CK v9.0</a></li>
                    <li><a href="{{url_prefix}}external/veris/12.0/1.3.5">VERIS v1.3.5 to ATT&CK v12.0</a></li>
                    <li><a href="{{url_prefix}}external/veris/9.0/1.3.7">VERIS v1.3.7 to ATT&CK v9.0</a></li>
                    <li><a href="{{url_prefix}}external/veris/12.0/1.3.7">VERIS v1.3.7 to ATT&CK v12.0</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="{{url_prefix}}external/nist/12.1/rev5"><span>NIST 800-53</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                    <li><a href="{{url_prefix}}external/nist/8.2/rev4">rev4 to ATT&CK v8.2</a></li>
                    <li><a href="{{url_prefix}}external/nist/9.0/rev4">rev4 to ATT&CK v9.0</a></li>
                    <li><a href="{{url_prefix}}external/nist/10.1/rev4">rev4 to ATT&CK v10.1</a></li>
                    <li><a href="{{url_prefix}}external/nist/12.1/rev4">rev4 to ATT&CK v12.1</a></li>
                    <li><a href="{{url_prefix}}external/nist/8.2/rev5">rev5 to ATT&CK v8.2</a></li>
                    <li><a href="{{url_prefix}}external/nist/9.0/rev5">rev5 to ATT&CK v9.0</a></li>
                    <li><a href="{{url_prefix}}external/nist/10.1/rev5">rev5 to ATT&CK v10.1</a></li>
                    <li><a href="{{url_prefix}}external/nist/12.1/rev5">rev5 to ATT&CK v12.1</a></li>
                </ul>
              </li>
              <li><a href="{{url_prefix}}external/cve/9.0">CVE</a></li>
              <li><a href="{{url_prefix}}external/aws/9.0">Amazon Web Services (AWS)</a></li>
              <li><a href="{{url_prefix}}external/gcp/10.0">Google Cloud Platform (GCP)</a></li>
              <li><a href="{{url_prefix}}external/azure/8.2">Azure</a></li>
            </ul>
          </li>
          <li style="padding: 10px;">
            <div class="input-group rounded">
              <input type="search" class="search-input form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0 bg-primary" id="search-addon">
                <img src="{{url_prefix}}static/img/search-white.svg" alt="search" style="height: 20px;"/>
              </span>
            </div>
          </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
