{% block navigation %}

<div
  class="container-fluid container-xl d-flex align-items-center justify-content-between"
>
<a href="{{url_prefix}}" class="logo d-flex align-items-center">
  <img src="{{url_prefix}}static/img/mappings_explorer_header_logo_h60.png" alt="Mappings Explorer" />
</a>

  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  <nav id="navbar" class="navbar">
    <ul>
      <li class="dropdown"><a href="{{url_prefix}}about/"><span>ABOUT</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
          <li><a href="{{url_prefix}}about/">Overview</a></li>
          <li><a href="{{url_prefix}}about/use-cases/">Use Cases</a></li>
          <li><a href="{{url_prefix}}about/methodology/">Mapping Methodology</a></li>
          <li><a href="{{url_prefix}}about/scoring/">Scoring Rubric</a></li>
          <li><a href="{{url_prefix}}about/related-projects/">Related Projects</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="{{url_prefix}}attack/matrix/"><span>ATT&CK OBJECTS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
          <li><a href="{{url_prefix}}attack/matrix/">Matrix</a></li>
          <li><a href="{{url_prefix}}attack/attack-10.1/domain-enterprise/tactics/">Tactics</a></li>
          <li><a href="{{url_prefix}}attack/attack-10.1/domain-enterprise/techniques/">Techniques</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="{{url_prefix}}external"><span>MAPPING FRAMEWORKS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
          <li><a href="{{url_prefix}}external">About Mappings</a></li>
          <li><a href="{{url_prefix}}external/aws/">Amazon Web Services (AWS)</a></li>
          <li><a href="{{url_prefix}}external/azure/">Azure</a></li>
          <li><a href="{{url_prefix}}external/kev/">Known Exploited Vulnerabilities</a></li>
          <li><a href="{{url_prefix}}external/gcp/">Google Cloud Platform (GCP)</a></li>
          <li><a href="{{url_prefix}}external/intel-vpro/">Intel vPro</a></li>
          <li><a href="{{url_prefix}}external/nist/">NIST 800-53</a></li>
          <li><a href="{{url_prefix}}external/m365/">M365</a></li>
          <li><a href="{{url_prefix}}external/veris/">VERIS</a></li>
        </ul>
      </li>
      <li style="padding-left: 20px;">
        <div class="input-group rounded">
          <input
            type="search"
            id="nav-search-input"
            class="search-input form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            onkeypress="navHandleKeypress(event, '{{url_prefix}}search/')"
          />
          <span class="input-group-text border-0 bg-primary" id="search-addon">
            <img src="{{url_prefix}}static/img/search-white.svg" alt="search" style="height: 20px;" onclick="navSearchWebsite('{{url_prefix}}search/')"/>
          </span>
        </div>
      </li>
    </ul>
  </nav>
</div>
<script>
  function navSearchWebsite(url) {
    window.location.href = `${url}?search=${document.getElementById("nav-search-input").value}`;
  }
  function navHandleKeypress(event, url) {
    if (event.key === "Enter") {
      navSearchWebsite(url);
    }
  }
</script>

{% endblock navigation %}

