<div id="switcher-component">
  <Switcher :url_prefix="'{{url_prefix}}'"></Switcher>
</div>

<script>
  const Switcher = {
    template: `
    <div class="project-switcher-expanded d-none">
      <h1>CTID PROJECTS</h1>
        <input
          type="search"
          id="ctid-search-input"
          class="ctid-search-input form-control rounded"
          placeholder="Search"
          aria-label="Search"
        />
    <div class="project-content">
      <div class="notification-section">
        <a v-for="notification in notificationList" :href="notification.url" target="_blank" class="notification">
          <img src="{{url_prefix}}static/img/project-logos/bell.svg" />
          <h3 :href="notification.url" target="_blank">[[notification.text]]</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" class="fade-up-left">
            <g id="arrow_forward" transform="translate(6)">
              <path id="Path_814" data-name="Path 814" d="M0,0H24V24H0Z" fill="none"/>
              <path id="Path_815" data-name="Path 815" d="M12,4,10.59,5.41,16.17,11H-6v2H16.17l-5.58,5.59L12,20l8-8Z"/>
            </g>
          </svg>
        </a>
      </div>
      <div class="featured projects">
          <h2>Most Relevant</h2>
            <div class="project-grid">
              <template v-for="project in projectList" :key="project">
              <a v-if="project.featured" class="project-container" :href="project.url" target="_blank">
                <img :src="url_prefix + 'static/img/project-logos/' + project.imgsrc" alt="" />
                <h3>[[project.label]]</h3>
              </a>
              </template>
          </div>
      </div>
      <div class="all projects">
          <h2>All Projects</h2>
          <div class="project-grid">
            <template v-for="project in projectList" :key="project">
              <a v-if="!project.featured" class="project-container" :href="project.url" target="_blank">
                <img :src="url_prefix + 'static/img/project-logos/' + project.imgsrc" alt="" />
                <h3>[[project.label]]</h3>
              </a>
            </template>
          </div>
      </div>
    </div>
</div>
  `,
    delimiters: ["[[", "]]"],
    data() {
      return {
        projectList: {},
        notificationList: {},
      };
    },
    props: {
      url_prefix: String,
    },
    computed: {
    },
    methods: {
      getProjectList() {
        project_file = `${this.url_prefix}static/related_projects_src.json`;
        fetch(project_file)
          .then((response) => response.json())
          .then((json) => {
            this.projectList = json.projects;
            this.notificationList = json.notifications;
          });
      }
    },
    watch: {
    },
     mounted() {
      this.getProjectList();
    },
  };

  Vue.createApp({
    components: {
      Switcher
    }
  }).mount("#switcher-component");

</script>


