<div id="switcher-component">
  <Switcher :url_prefix="'{{url_prefix}}'"></Switcher>
</div>

<script>
  const Switcher = {
    template: `
    <div class="project-switcher">
        <img src="{{url_prefix}}static/img/project-logos/related.svg" style="height: 40px; margin:auto;" alt="" />
    </div>
  `,
    delimiters: ["[[", "]]"],
    data() {
      return {
        projectList: {},
        notificationList: {},
      };
    },
    props: {
      url_prefix: String,
    },
    computed: {
    },
    methods: {
    },
    watch: {
    },
  };

  Vue.createApp({
    components: {
      Switcher
    }
  }).mount("#switcher-component");

</script>


