<div class="project-switcher">
    <img src="{{url_prefix}}static/img/related.svg" style="height: 40px; margin:auto;" alt="" />
</div>

<div class="project-switcher-expanded d-none">
    <h1>CTID PROJECTS</h1>
    <div class="featured projects">
        <h2>Most Relevent</h2>
        <div class="project-grid">
            <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>Summiting the Pyramid</h3>
            </div>
            <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>CTI Blueprints</h3>
            </div>
            <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>Attack Flow</h3>
            </div>
            <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>ATT&CK Workbench</h3>
            </div>
                        <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>Attack Flow</h3>
            </div>
            <div class="project-container">
                <img src="{{url_prefix}}static/img/project.svg" alt="" />
                <h3>ATT&CK Workbench</h3>
            </div>
        </div>
    </div>
    <div class="all projects">
        <h2>All Projects</h2>

    </div>
</div>
