{% block set_version %}
<section id="version-select" class="version-select">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-left">
      <form class="col-12" onsubmit="handleSubmission(event)">
        <h2>CHOOSE YOUR VERSIONS</h2>
        <div class="row col-12" style="display: flex;">
        {% if versions %}
          <div class="col-sm-4 col-md-3 form-group">
            <p>{{control}} Version</p>
            <select name="control-version" id="control_version" class="form-control">
              {% for v in versions %}
                <option>{{v}}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          <div class="col-sm-4 col-md-3 form-group">
            <p>ATT&CK Version</p>
            <select name="attack-version" id="attack_version" class="form-control">
              {% for v in attackVersions %}
              <option>{{v}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-4 col-md-3 form-group">
            <p>ATT&CK Domain</p>
            <select name="domain" id="attack_domain" class="form-control">
              {% for d in domains %}
              <option>{{ d|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-4 col-md-3 form-group" style="margin-top: 36px;">
            <button class="btn-pill" style="border: none;">See Mappings</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script>
  let attackVersion = '';
  let controlVersion = '';
  let uri = window.location.pathname;
  let params = uri.split("/").filter(n => n);

  controlVersion = params[params.length -1].split("-")[1];
  document.getElementById("control_version").value = controlVersion;
  attackVersion = params[params.length -2].split("-")[1];
  document.getElementById("attack_version").value = attackVersion;

  function handleSubmission(event) {
    event.preventDefault()

    let uri = window.location.pathname;
    let newControl = document.getElementById("control_version").value
    let newAttack = document.getElementById("attack_version").value
    let newUrl = "../../attack-" + newAttack + "/" + params[params.length-3] + "-" + newControl
    window.location = newUrl
  }
</script>

{% endblock set_version %}
