<div class="table-responsive table-outer">
<div class="form-outline mb-4">
  <table class="table table-borderless table-hover table-responsive"
    data-toggle="table"
    data-url="{{url_prefix}}/data.json"
    data-search="true"
    data-pagination="true"
    data-show-multi-sort="true">
  <thead>
    <tr>
            <th id="attack-id" data-field="attack_object_id" data-sortable="true">ID</th>
            <th id="attack-name" data-field="attack_object_name" data-sortable="true">Name</th>
            <th id="mapping-category" data-field="mapping_type" data-sortable="true">Category</th>
            <th id="object-id" data-field="capability_id" data-sortable="true">ID</th>
      </tr>
  </thead>
</table>
<script>
  function customSort(sortName, sortOrder, data) {
    var order = sortOrder === 'desc' ? -1 : 1
    data.sort(function (a, b) {
      var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
      var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
      if (aa < bb) {
        return order * -1
      }
      if (aa > bb) {
        return order
      }
      return 0
    })
  }
</script>
</div>
</div>
