{% extends "base.html.j2" %}

{% block content %}
<section id="about-header" class="header-container">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    {% include "_breadcrumbs.html.j2" %}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center">OVERVIEW</h1>
        <p>
          Mappings Explorer enables cyber defenders to understand how security
          controls and capabilities map onto the adversary behaviors catalogued in the
          <a href="https://attack.mitre.org/" target="_blank">MITRE ATT&CK®</a>
          knowledge base. The
          <a target="_blank"
            href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/">Center
            for Threat-Informed Defense
          </a>
          created these open source mappings to serve as a bridge between
          the threat-informed approach to cybersecurity and the traditional perspective applied to the
          employment of security controls.
        </p>
        <p>
          Mappings Explorer presents threat and mitigation data in easily accessible and customizable ways.
          This centralized collection of resources expands the ability of the global cyber community to make
          threat-informed decisions by exploring real-world cyber threats and corresponding mapped security capabilities.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="mappings-explore-uses" class="services-list">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>What is Mappings Explorer for?</h2>
      <p>
        You can use Mappings Explorer for many different purposes. Examples of usage include:
      </p>
    </div>
    <div class="row gy-5 col-lg-8 offset-lg-2">
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Align Cyber Defense to Threats</h4>
          <blockquote>
            <p>Explore how security controls and capabilities can be used to protect from, detect, or respond to specific adversary behaviors.</p>
          </blockquote>
          {#<div class="section-details">
            <p>
              <span><strong>Placeholder</strong> text</span>
            </p>
            <a href="{{url_prefix}}/external/nist/"
              class="readmore stretched-link"><span>Learn More TBD</span><i class="bi bi-arrow-right"></i></a>
          </div>#}
        </div>
      </div>

      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Assess Unpatched Vulnerabilities</h4>
          <blockquote>
            <p>Understand how adversaries might exploit unpatched vulnerabilities and what adversaries may achieve by exploiting the vulnerability.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Evolve and Expand Cyber Defense</h4>
          <blockquote>
            <p>Visualize and assess deficiencies in cyber defense to plan future policy and security controls around real-world adversary behavior.</p>
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Effectively Describe Incidents</h4>
          <blockquote>
            <p>Create detailed incident reports incorporating ATT&CK-based threat intel, recommendations for increased security protocols, and response measures.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action" class="call-to-action gray-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h3>Get Involved</h3>
        <p>Are you using the
          <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/" target="_blank">
            Center for Threat-Informed Defense
          </a>’s mappings projects? Do you have questions or feedback? Get in touch with the
          <a target="_blank" href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/">
            Center for Threat-Informed Defense
          </a>
        .</p>
        <a class="cta-btn" href="mailto:ctid@mitre-engenuity.org?subject=Mappings%20Explorer">Email
          Us</a>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
