{% extends "base.html.j2" %}

{% block content %}
<section id="header-container" class="header-container">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    {% include "_breadcrumbs.html.j2" %}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center">MAPPINGS <span class="highlight">OVERVIEW</span></h1>
        <p>
          Mappings Explorer enables cyber defenders to understand how security
          controls map onto the adversary behaviors catalogued in the MITRE ATT&CK®
          knowledge base. The <a
            href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/">Center
            for Threat-Informed Defense</a> created these open source mappings to serve as a bridge between
          the threat-informed approach to cybersecurity and the traditional security controls perspective.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="services-list" class="services-list">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>What is Mappings Explorer for?</h2>
      <p>
        You can use Mappings Explorer for many different purposes.
      </p>
    </div>
    <div class="row gy-5">
      <div class="col-md-4 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Align cyber defense to adversary behavior</h4>
          <blockquote>
            <p>Explore how your current or promposed security controls can be used to detect, prevent, mitigate, or
              respond to specific adversary behaviors seen in the wild.</p>
          </blockquote>
          <div class="section-details">
            <p>
              <span><strong>Placeholder</strong> text</span>
            </p>
            <a href="https://mappingsexplorer.z13.web.core.windows.net/MAPEX-80-methodology/external/nist/"
              class="readmore stretched-link"><span>Learn More TBD</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Expand the Vocabulary for Incident Response</h4>
          <blockquote>
            <p>The VERIS mappings connect the incident response terminology of the Verizon DBIR to the adversary
              behavior in MITRE ATT&CK for a more complete analysis of any breach.</p>
          </blockquote>
          <div class="section-details">
            <p>
              <span><strong>Placeholder</strong> text</span>
            </p>
            <a href="https://mappingsexplorer.z13.web.core.windows.net/MAPEX-80-methodology/external/nist/"
              class="readmore stretched-link"><span>Learn More TBD</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Assess Unpatched Vulnerabilities</h4>
          <blockquote>
            <p>The CVE mappings help understand how adversaries might exploit unpatched vulnerabilities and what the
              knock-on effects could be.</p>
          </blockquote>
          <div class="section-details">
            <p>
              <span><strong>Placeholder</strong> text</span>
            </p>
            <a href="https://mappingsexplorer.z13.web.core.windows.net/MAPEX-80-methodology/external/nist/"
              class="readmore stretched-link"><span>Learn More TBD</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Evolve and Expand Cyber Defense</h4>
          <blockquote>
            <p>Visualize and assess deficiencies in cyber defense. Plan future policy and security controls around
              real-world adversary behavior.</p>
          </blockquote>
          <div class="section-details">
            <p>
              <span><strong>Placeholder</strong> text</span>
            </p>
            <a href="https://mappingsexplorer.z13.web.core.windows.net/MAPEX-80-methodology/external/nist/"
              class="readmore stretched-link"><span>Learn More TBD</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action" class="call-to-action gray-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h3>Get Involved</h3>
        <p>Are you using the Center for Threat-Informed Defense’s mappings projects?
          Do you have questions or
          feedback? Get in touch with the Center for Threat-Informed Defense.</p>
        <a class="cta-btn" href="mailto:ctid@mitre-engenuity.org?subject=Mappings%20Explorer">Email
          Us</a>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
