{% import "./macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block content %}
<div id="my_view">

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      {% include "_breadcrumbs.html.j2" %}
      <div class="row justify-content-left">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 style="text-transform: uppercase;"><span class="highlight">ATT&CK</span> {{object_type}}</h1>
          <p>{{description}}</p>
          <p>
            View information about {{object_type | lower}},
            how techniques and tactics interact, and the
            <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/" target="_blank">
            Center for Threat-Informed Defense</a>’s mappings coverage of
            <a href="https://attack.mitre.org/" target="_blank">MITRE ATT&CK®</a>
            techniques in the Mappings Explorer
            <a href="{{url_prefix}}attack/matrix">matrix view</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% block set_version_attack %}
    {% include "_set_versions_attack.html.j2" %}
  {% endblock set_version_attack %}
  <section id="attack-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="row" style="padding: 0;">
          <div class="col-xl-4 col-lg-12">
            <h2 style="width: max-content">ATT&CK {{object_type}} Mappings</h2>
          </div>
        </div>
        <div class="col-12">
            {{ macros.table(headers, mappings) }}
        </div>
      </div>
    </div>
  </section>
  {% if non_mappables %}
  <section id="nonmappable-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <div style="display: flex; margin-bottom: 15px;">
            <h2>Non-Mappable {{object_type}}</h2>
            <div class="tooltip-img">
              <img src="{{url_prefix}}static/img/info-black.svg" alt="" />
              <span class="tooltip-text">Non-mappable techniques cannot be easily mitigated with preventive controls since they are based on behaviors performed outside of the scope of enterprise defenses and controls</span>
            </div>
          </div>
          <!-- non-mappables table removed until better solution worked out -->
          <!-- {{ macros.table(non_mappable_headers, non_mappables, url_prefix) }} -->
      </div>
    </div>
  </section>
{% endif %}
</div>
{% endblock content %}
