{% import "./macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block content %}
<div id="my_view">
{% include "_banner.html.j2" %}

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      {% include "_breadcrumbs.html.j2" %}
      <div class="row justify-content-left">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 style="text-transform: uppercase;"> {{project.label}} <span class="highlight">{{ capability_group_name }}</span> Capability Group</h1>
          {% for paragraph in description %}
            <p>
              {{- paragraph -}}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="attack-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="row" style="padding: 0;">
          <div class="col-xl-4 col-lg-12">
            <h2 style="width: max-content">ATT&CK Technique Mappings</h2>
          </div>
          <div class="col-xl-8 col-lg-12 badges">
            {% include "_badge_section.html.j2" %}
          </div>
        </div>
        <div class="col-12">
            {{ macros.table(headers, mappings, url_prefix) }}
        </div>
      </div>
    </div>
  </section>
  <section id="mapping-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="row" style="padding: 0;">
          <div class="col-xl-4 col-lg-12">
            <h2 style="width: max-content">Capabilities</h2>
            </div>
            <div class="col-xl-8 col-lg-12 badges">
            {% include "_badge_section.html.j2" %}
            </div>
        </div>
        <div class="col-12">
            {{ macros.table(capability_group_headers, capability_group.capabilities, url_prefix) }}
      </div>
    </div>
  </section>
</div>
{% endblock content %}


