{% extends "base.html.j2" %}

{% block content %}
<div id="my_view">
{% include "_banner.html.j2" %}

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <h1 style="text-transform: uppercase;"> NIST 800-53 <span class="highlight">Access Control</span> Mappings</h1>
          {% for paragraph in description %}
            <p>
              {{- paragraph -}}
            </p>
          {% endfor %}
          <div class="section-details">
            <p>
              <span>Total Mappings: <strong>300</strong></span>
              <span>ATT&CK Versions: <strong>{{ attackVersions|join(', ') }}</strong></span>
              <span>ATT&CK Domain: <strong>{{ domains|join(', ')|capitalize() }}</strong></span>
            </p>
          </div>
        </div>
        <div class="download-artifacts col-lg-4 col-md-2 col-sm-12 ml-20">
          <h6>Download Mapping Artifacts:</h6>
          <div class="downloads">
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> YAML</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> CSV</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> STIX Bundles</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> Navigator Layers</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="mapping-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>CONTROL FAMILIES</h2>
          {% block table %}
            {% include "_table.html.j2"%}
          {% endblock table %}
      </div>
    </div>
  </section>
<script>
  let attackVersion = '';
  let controlVersion = '';
  let domainVersion = '';
  let uri = window.location.search;
  console.log("here");

  let params = new URLSearchParams(uri);
  if (params.has("control-version")) {
    controlVersion = params.get("control-version");
  }
  if (params.has("attack-version")) {
    attackVersion = params.get("attack-version");
  }
  if (params.has("domain")) {
    domainVersion = params.get("domain");
  }
  var myModel = {
    control_version: controlVersion,
    attack_version: attackVersion,
    attack_domain: domainVersion,
  };
  var myViewModel = new Vue({
    el: '#my_view',
    data: myModel
  });
</script>
</div>
{% endblock content %}


