{% extends "base.html.j2" %}
{% block content %}
{#{% include "_banner.html.j2" %}#}

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <h1><span class="highlight">{{control}}</span> MAPPINGS</h1>
          {% for paragraph in description %}
            <p>
              {{- paragraph -}}
            </p>
          {% endfor %}
          <div id="my_view">
            {{" domain version: {{domain_version}}"}}
            {{" attack version: {{attack_version}}"}}
          </div>
          <div class="section-details">
            <p>
              <span>Total Mappings: <strong>300</strong></span>
              <span>ATT&CK Versions: <strong>{{ attackVersions|join(', ') }}</strong></span>
              <span>ATT&CK Domain: <strong>{{ domains|join(', ')|capitalize() }}</strong></span>
            </p>
          </div>
        </div>
        <div class="download-artifacts col-lg-4 col-md-2 col-sm-12 ml-20">
          <h6>Download Mapping Artifacts:</h6>
          <div class="downloads">
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> YAML</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> CSV</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> STIX Bundles</a></p>
            <p><a href="#"><span><img src="{{url_prefix}}/src/mappings_explorer/templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> Navigator Layers</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if (attackVersions|length > 1 or domains|length > 1) %}
  <section id="version-select" class="version-select">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>CHOOSE YOUR VERSIONS</h2>
          <div class="row col-12" style="display: flex;">
          {% if versions %}
            <div class="col-sm-4 col-md-3 form-group">
              <p>{{control}} Version</p>
              <select name="control-version" id="control-version" class="form-control">
                {% for v in versions %}
                <option value={v}>{{v}}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-sm-4 col-md-3 form-group">
              <p>ATT&CK Version</p>
              <select name="attack-version" id="attack-version" class="form-control">
                {% for v in attackVersions %}
                <option value={v}>{{v}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4 col-md-3 form-group">
              <p>ATT&CK Domain</p>
              <select name="domain" id="attack-domain" class="form-control">
                {% for d in domains %}
                <option value={d}>{{ d|capitalize }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4 col-md-3 form-group" style="margin-top: 28px;">
            <a href="#about" class="btn-pill">See Mappings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section id="mapping-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>CONTROL FAMILIES</h2>
          {% block table %}
            {% include "_table.html.j2"%}
          {% endblock table %}
      </div>
    </div>
  </section>

<script>
  let attackVersion = '';
  let domainVersion = '';
  let uri = window.location.search;

  let params = new URLSearchParams(uri);
  if(params.has("nist")) {
    domainVersion = params.get("nist");
  }
  if(params.has("attack_version")) {
    attackVersion = params.get("attack_version");
  }
  console.log("nist", domainVersion);
  console.log("attack ", attackVersion);
  var myModel = {
    domain_version: domainVersion,
    attack_version: attackVersion
  };
  var myViewModel = new Vue({
    el: '#my_view',
    data: myModel
  });
</script>

{% endblock content %}
