{% import "./macros.html.j2" as macros %}
{% extends "base.html.j2" %}
{% block content %}
{#{% include "_banner.html.j2" %}#}

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up" id="my_view">
      <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <h1><span class="highlight">{{control}}</span> MAPPINGS</h1>
          {% for paragraph in description %}
            <p>
              {{- paragraph -}}
            </p>
          {% endfor %}
          <div class="section-details">
            <p>
              <span>Total Mappings: <strong>300</strong></span>
              <span>ATT&CK Versions: <strong>{{ attackVersions|join(', ') }}</strong></span>
              <span>ATT&CK Domain: <strong>{{ domains|join(', ')|capitalize() }}</strong></span>
            </p>
          </div>
        </div>
        <div class="download-artifacts col-lg-4 col-md-2 col-sm-12 ml-20">
          <h6>Download Mapping Artifacts:</h6>
          <div class="downloads">
            <p>
              <a href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}.yaml">
                <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;"/></span>
                YAML
              </a>
            </p>
            <p>
              <a href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}.csv">
                <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;"/></span>
                CSV
              </a>
            </p>
            <p>
              <a href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}.json">
                <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;"/></span>
                STIX Bundles
              </a>
            </p>
            <p>
              <a href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}.json">
                <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;"/></span>
                Navigator Layers
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if (attackVersions|length > 1 or domains|length > 1) %}
    {% block set_version %}
      {% include "_set_versions.html.j2" %}
    {% endblock set_version %}
  {% endif %}
  {% if groups %}
  <section id="groups-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>Groups</h2>
            {{ macros.table(group_headers, groups, "id") }}
      </div>
    </div>
  </section>
  {% endif %}
  <section id="all-mapping-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>All Mappings</h2>
            {{ macros.table(headers, mappings) }}
      </div>
    </div>
  </section>
{% endblock content %}
