{% extends "base.html.j2" %}

{% block content %}
  <!-- ======= Call To Action Section ======= -->
  <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      {% include "_breadcrumbs.html.j2" %}
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>ABOUT <span class="highlight">MAPPINGS</span></h1>
          <p>
           The Center has created the following mappings of security capabilities to MITRE ATT&CK®,
           empowering defenders with data. Mappings Explorer provides a central location where all
           Center mapping resources are provided in a more accessible and connected manner,
           improving a defender’s ability to make threat-informed decisions based on mapped security capabilities.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->
  <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">

    <div class="section-header">
        <h2>MAPPING FRAMEWORKS</h2>
    </div>
        {% include "_mappings_project_section.html.j2" %}
        </div>
    </section><!-- End Our Services Section -->
{% endblock content %}
