{% extends "base.html.j2" %}

{% block content %}
  <!-- ======= Call To Action Section ======= -->
  <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      {% include "_breadcrumbs.html.j2" %}
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1>ABOUT <span class="highlight">MAPPINGS</span></h1>
          <p>
            The Center has invested a lot of effort into a variety of mappings projects. The common thread running through these projects is ATT&CK; each project maps some external system into the ATT&CK knowledge base. Click on each mapping project to learn more and see the ATT&CK mappings.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->
  <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">

    <div class="section-header">
        <h2>MAPPINGS FRAMEWORKS</h2>
    </div>
        {% include "_mappings_project_section.html.j2" %}
        </div>
    </section><!-- End Our Services Section -->
{% endblock content %}
