{% import "./macros.html.j2" as macros %}
{% extends "base.html.j2" %}
{% block content %}
{#{% include "_banner.html.j2" %}#}

<section id="header-container" class="header-container">
  <div class="container" id="my_view">
    {% include "_breadcrumbs.html.j2" %}
    <div class="row justify-content-left">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <h1><span class="highlight">{{control}}</span></h1>
        <p>
          {{- description -}}
        </p>
        <div class="section-details">
          <p>
            {% if versions|length > 1%}
            <span>{{control}} Versions: <strong>{{ versions|join(', ') }}</strong></span>
            {% endif %}
            <span>ATT&CK Versions: <strong>{{ attackVersions|join(', ') }}</strong></span>
            <span>ATT&CK Domain: <strong>{{ domains|join(', ') }}</strong></span>
          </p>
          {% if project.resources %}
          <p>
            {% for src in project.resources %}
            <a class="link" href="{{ '' if src.external else url_prefix }}{{src.link}}">
              {{src.label}}
            </a> {% if not loop.last %}|{% endif %}
            {% endfor %}
          </p>
          {% endif %}
          </p>
        </div>
      </div>
      <div class="download-artifacts col-lg-4 col-md-2 col-sm-12 ml-20">
        <h6>Download Mapping Artifacts:</h6>
        <div class="downloads">
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}_json.json">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              JSON
            </a>
          </p>
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}.yaml">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              YAML
            </a>
          </p>
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}.csv">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              CSV
            </a>
          </p>
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}.xlsx">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              Excel
            </a>
          </p>
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}_stix.json">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              STIX Bundles
            </a>
          </p>
          <p>
            <a class="link" download
              href="{{url_prefix}}data/{{project_id}}/attack-{{attack_version}}/{{project_id}}-{{project_version}}/{{attack_domain.lower()}}/{{project_id}}-{{project_version}}_attack-{{attack_version}}-{{attack_domain.lower()}}_navigator_layer.json">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              Navigator Layers
            </a>
          </p>
          {% for artifact in additional_artifacts %}
          <p>
            <a class="link" download href="{{ url_prefix }}{{ artifact.link }}">
              <span><img src="{{url_prefix}}static/img/download.svg" alt="download" style="height: 20px;" /></span>
              {{ artifact.label }}
            </a>
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% if (attackVersions|length > 1 or domains|length > 1) %}
{% block set_version %}
{% include "_set_versions.html.j2" %}
{% endblock set_version %}
{% endif %}
{% if capability_groups %}
<section id="groups-table" class="mapping-table">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-left">
      <div class="col-12">
        <h2>Capability Groups</h2>
        {{ macros.table(group_headers, undefined, capability_groups, url_prefix, table_max_count, full_link, full_size) }}
      </div>
    </div>
</section>
{% endif %}
<section id="all-mapping-table" class="mapping-table">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-left">
      <div class="col-12">
        <h2>All Mappings</h2>
        {{ macros.table(standard_headers, info_box_headers, mappings, url_prefix, table_max_count, full_link, full_size) }}
      </div>
    </div>
</section>
{% if project.has_non_mappables and non_mappables %}
<section id="nonmappable-table" class="mapping-table">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-left">
      <div class="col-12">
        <div style="display: flex; margin-bottom: 15px;">
          <h2>Non-Mappable Capabilities</h2>
          <div class="tooltip-img">
            <img src="{{url_prefix}}static/img/info-black.svg" alt="" />
            <span class="tooltip-text">Non-mappable capabilities are either out of scope or unable to be mapped to any
              ATT&CK objects</span>
          </div>
        </div>
        {{ macros.table(non_mappable_headers, undefined, non_mappables, url_prefix, table_max_count, full_link, full_size) }}
      </div>
    </div>
</section>
{% endif %}

{% endblock content %}
