

{% extends "base.html.j2" %}

{% block content %}
        <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
      <div>
        <img id="mapex_explorer_logo" src="{{url_prefix}}static/img/mappings_explorer_header_logo_h214.png" alt="Mappings Explorer" />
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p>
            Mappings Explorer enables cyber defenders to understand how security controls and capabilities
            map onto the adversary behaviors catalogued in the
            <a href="https://attack.mitre.org/" target="_blank" class="white-link">MITRE ATT&CK®</a>
            knowledge base. These mappings form a bridge between the threat-informed approach
            to cybersecurity and the traditional security controls perspective.
          </p>
        </blockquote>
        <div class="d-flex align-items-center justify-content-center" data-aos="fade-up"
         data-aos-delay="200" style="margin-left: 0;">
          <a href="{{url_prefix}}about/" class="btn-get-started">Learn More</a>
        </div>
      </div>
  </section><!-- End Hero Section -->

  <main id="main">

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>Search All Mappings</h3>
          <p>Search by any ATT&CK object or security capability to get the associated mappings.</p>
          <div class="input-group rounded">
            <input
              type="search"
              id="landing-search-input"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              onkeypress="landingHandleKeypress(event, '{{url_prefix}}search/')"/>
            <span class="input-group-text border-0" id="search-addon">
              <a onclick="landingSearchWebsite('{{url_prefix}}search/')"
              ><img
                src="{{url_prefix}}static/img/search.svg"
                alt="search"
                style="height: 20px"
            /></a>
            </span>
          </div>
        </div>
      </div>

    </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list" style=" background-color: white; padding: 60px 0px;">
    <div class="container" data-aos="fade-up">

    <div class="section-header">
        <h2>MAPPING FRAMEWORKS</h2>
    </div>
        {% include "_mappings_project_section.html.j2" %}
        </div>
    </section><!-- End Our Services Section -->

  </main><!-- End #main -->

  <script>
    function landingSearchWebsite(url) {
      window.location.href = `${url}?search=${document.getElementById("landing-search-input").value
      }`;
    }
    function landingHandleKeypress(event, url) {
      if (event.key === "Enter") {
        landingSearchWebsite(url);
      }
    }
  </script>
{% endblock content %}
