

{% extends "base.html.j2" %}

{% block content %}
        <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <img data-aos="fade-up" src="{{url_prefix}}static/img/logo-horizontal-white.png" alt="center for threat informed defense logo" style="height: 20px; margin-bottom: 10px;"/>
          <h2 data-aos="fade-up">Mappings <span style="color: #C2EAF6">Explorer</span></h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>The website will include an overview of the mappings projects, explaining what the mappings are for, who the target audience is, what uses they support, etc. It will provide the methodology and other important information behind each mapping project. </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>Search to Find Mappings</h3>
          <p>Search for an ATT&CK object or a framework object to find all mappings associated with it. </p>
          <div class="input-group rounded">
            <input
              type="search"
              id="landing-search-input"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              onkeypress="landingHandleKeypress(event)"/>
            <span class="input-group-text border-0" id="search-addon">
              <a onclick="landingSearchWebsite()"
              ><img
                src="{{url_prefix}}static/img/search.svg"
                alt="search"
                style="height: 20px"
            /></a>
            </span>
          </div>
        </div>
      </div>

    </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list" style=" background-color: white;">
    <div class="container" data-aos="fade-up">

    <div class="section-header">
        <h2>MAPPINGS PROJECTS</h2>
    </div>
        {% include "_mappings_project_section.html.j2" %}
        </div>
    </section><!-- End Our Services Section -->

  </main><!-- End #main -->

  <script>
    function landingSearchWebsite() {
      window.location.href = `${window.location.origin}/search/?search=${
        document.getElementById("landing-search-input").value
      }`;
    }
    function landingHandleKeypress(event) {
      if (event.key === "Enter") {
        landingSearchWebsite();
      }
    }
  </script>
{% endblock content %}
