{% macro back_button(control,prev_name, url_prefix)%}
    <a class="back-btn" href="../">
        <img src="{{url_prefix}}static/img/back-arrow.svg" alt="">
        <span>Back to {{control}} {{prev_name}}</span>
    </a>
{% endmacro %}

{% macro table(headers, mappings) %}
<div class="table-responsive table-outer">
<div class="form-outline mb-4">
  <table class="table table-borderless table-hover table-responsive"
    data-toggle="table"
    data-search="true"
    data-pagination="true"
    data-show-multi-sort="true">
  <thead>
    <tr>
        {%- for header in headers -%}
            <th id={{id}} data-field={{header[0]}} data-sortable="true">{{header[1]}}</th>
        {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for mapping in mappings %}
      <tr>
        {%- for header in headers -%}
            {% if header[2] and header[3] %}
                <td><a href="{{header[3]}}{{mapping[header[2]]}}/">{{mapping[header[0]]}}</a></td>
            {% endif %}
            {% if header[2] and not header[3] %}
                <td><a href="{{url_prefix}}external/{{mapping["project"]}}/attack-{{mapping["attack_version"]}}/domain-{{mapping["attack_domain"]}}/{{mapping["project"]}}-{{mapping["project_version"]}}/{{mapping[header[2]]}}/">{{mapping[header[0]]}}</a></td>
            {% endif %}
            {% if not header[2] %}
                <td>{{mapping[header[0]]}}</td>
            {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  function customSort(sortName, sortOrder, data) {
    var order = sortOrder === 'desc' ? -1 : 1
    data.sort(function (a, b) {
      var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
      var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
      if (aa < bb) {
        return order * -1
      }
      if (aa > bb) {
        return order
      }
      return 0
    })
  }
</script>
</div>
</div>
{% endmacro %}
