{% extends "base.html.j2" %} {% block content %}
<div id="matrix">
  <Matrix :url_prefix="'{{url_prefix}}'" :all_attack_versions="{{all_attack_versions}}"
    :all_attack_domains="{{attack_domains}}"
    :attack_domain_versions_with_mappings="{{attack_domain_versions_with_mappings}}"></Matrix>
</div>

<script>
  const Matrix = {
    template: `
      <div class="matrix-component">
        <section id="header-container" class="matrix-header">
          <div class="container" data-aos="fade-up">
            <div class="row justify-content-left">
              <div class="col-lg-8">
                <h1> <span class="highlight">ATT&CK</span> MATRIX</h1>
              </div>
            </div>
          </div>
        </section>

        <div class="container" data-aos="fade-up">
          <div class="row justify-content-left">
            <form class="col-12 version-select">
              <h2>CHOOSE YOUR VERSIONS</h2>
              <div class="row col-12" style="display: flex;">
                <div class="col-md-2 col-sm-4 form-group" @focusout="handleOutsideClick" tabindex="-1">
                  <p>ATT&CK Version</p>
                  <div class="form-control select" @click="attackSelectOpen = !attackSelectOpen">
                    <span class="selected-item">[[ selectedAttackVersion ]]</span>
                  </div>
                  <div v-if="attackSelectOpen" class="dropdown-items">
                    <div
                      :class="{
                        'dropdown-item': true,
                        'invalid-option': !attack_domain_versions_with_mappings[selectedDomain].includes(attackVersion),
                        'selected-option': selectedAttackVersion === attackVersion
                      }"
                      v-for="attackVersion in attackVersions"
                      :key="attackVersion"
                      @click="selectedAttackVersion = attackVersion; getAttackObjectDict(); attackSelectOpen = false;"
                    >
                      <span class="dropdown-item-text">[[ attackVersion ]]</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 form-group" @focusout="handleOutsideClick" tabindex="-1">
                  <p>ATT&CK Domain</p>
                  <div class="form-control select" @click="domainSelectOpen = !domainSelectOpen">
                    <span class="selected-item">[[ selectedDomain ]]</span>
                  </div>
                  <div v-if="domainSelectOpen" class="dropdown-items">
                    <div
                      :class="{
                        'dropdown-item': true,
                        'invalid-option': !attack_domain_versions_with_mappings[domain].includes(selectedAttackVersion),
                        'selected-option': selectedDomain === domain
                      }"
                      v-for="domain in attackDomains"
                      :key="domain"
                      @click="selectedDomain = domain; getAttackObjectDict(); domainSelectOpen = false;"
                    >
                      <span class="dropdown-item-text">[[ domain ]]</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <section id="matrix-table">
          <div class="container" data-aos="fade-up">
            <div class="row justify-content-left">
              <div class="col-12">
                <h2>ATT&CK v[[selectedAttackVersion]] [[selectedDomain.toUpperCase()]] MATRIX</h2>
                <div class="matrix-table-container">
                  <div class="row">
                    <div class="col-md-12">
                      <button @click="toggleAllTechniques(true)" class="toggle-subtechniques-btn">Show All Sub-Techniques</button>
                      <button @click="toggleAllTechniques(false)" class="toggle-subtechniques-btn">Hide All Sub-Techniques</button>
                    </div>
                  </div>
                  <div class="matrix-table-container-relative">
                    <div class="scroll-indicator-left" v-if="!scrolledCompletelyToLeft"></div>
                    <div class="overflow-scroll" id="matrix-table-scrollable" @scroll="handleScroll">
                      <div class="row tactic-row row--no-x-margin row--no-padding flex-nowrap">
                        <div v-for="tactic in tactics" class="col-md-1 col-sm-4 col--less-x-padding tactic-box">
                          <div class="tactic-header">
                            <a :href="url_prefix + 'attack/attack-' + selectedAttackVersion + '/domain-' + selectedDomain + '/' + tactic.id + '/'"  class="tactic-name">[[  tactic.name ]]</a>
                            <br/>
                            ([[ tactic.id ]])
                          </div>
                        </div>
                      </div>
                      <div class="row row--no-x-margin row--no-padding flex-nowrap">
                        <div class="col-md-1 col-sm-4 col--less-x-padding" v-for="tactic in tactics">
                          <div class="row row--no-x-margin row--no-padding" v-for="technique in tactic.techniques">
                            <div class="row row--no-x-margin row--no-padding">
                              <div
                                :class="{
                                  'col-2 align-items-center col--less-x-padding d-flex': true,
                                  'subtechnique-toggle-col' : technique.subtechniques.length,
                                  'subtechnique-toggle-col--no-icon': !technique.subtechniques.length
                                }"
                              >
                                <img
                                  v-if="technique.subtechniques.length && !technique.open"
                                  @click="handleClick(technique)"
                                  class="icon"
                                  src="{{url_prefix}}static/img/chevron-right.svg"
                                  alt=""
                                />
                                <img
                                  v-else-if="technique.subtechniques.length && technique.open"
                                  @click="handleClick(technique)"
                                  class="icon"
                                  src="{{url_prefix}}static/img/chevron-down.svg"
                                  alt=""
                                />
                              </div>
                              <div
                                class="col-10 col--no-x-padding"
                                @mouseenter="techniqueHovered = technique"
                                @mouseleave="techniqueHovered = ''"
                                :id="technique.id + '_' + technique.parent + '_box'"
                              >
                                <div
                                  class="technique-box"
                                  :style="technique.background_color ? { 'backgroundColor': technique.background_color} : ''"
                                >
                                  <a :href="url_prefix + 'attack/attack-' + selectedAttackVersion + '/domain-' + selectedDomain + '/' + technique.id" @mouseenter="techniqueHovered = technique">
                                    [[  technique.name  ]]
                                  </a>
                                  <br/>
                                  ( [[ technique.id ]] )
                                  <span class="technique-score" v-if="technique.subtechniques.length">
                                    ([[ technique.subtechniques.length ]])
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="row row--no-x-margin row--no-padding">
                              <div class="col-2 col--no-x-padding subtechniques-col">
                                <svg fill="grey" v-if="technique.open && technique.subtechniques.length" width="12px" height="20px"><path d="M0 0H12V12Z"/></svg>
                              </div>
                              <div
                                class="col-10
                                col--no-x-padding"
                              >
                                <div
                                  v-if="technique.open"
                                  v-for="subtechnique in technique.subtechniques"
                                  @mouseenter="techniqueHovered = subtechnique"
                                  @mouseleave="techniqueHovered = ''"
                                  :id="subtechnique.id + '_'+ subtechnique.parent + '_box'"
                                >
                                  <div class="subtechnique-box" :style="subtechnique.background_color ? { 'backgroundColor': subtechnique.background_color} : ''">
                                    <a :href="url_prefix + '/attack/attack-' + selectedAttackVersion + '/domain-' + selectedDomain + '/' + subtechnique.id" @mouseenter="techniqueHovered = subtechnique">[[ subtechnique.name ]]</a>
                                    <br/>
                                    ( [[ subtechnique.id ]] )
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="scroll-indicator-right" v-if="!scrolledCompletelyToRight"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div
          v-if="techniqueHovered && techniqueHovered.score > 0"
          class="technique-tooltip align-self-center align-content-start"
          :style="getTooltipPosition()"
        >
          <span><b>[[ techniqueHovered.id ]]</b></span>
          [[ " " + techniqueHovered.name ]]
          <hr class="header-row"/>
          <span>Mapped To:</span>
          <br/>
          <span>
            [[ techniqueHovered.score_text ]]
          </span>
        </div>
      </div>
  `,
    delimiters: ["[[", "]]"],
    data() {
      return {
        tactics: [],
        selectedTechnique: {},
        selectedAttackVersion: "10.1",
        attackObjectDict: {},
        techniqueHovered: "",
        selectedDomain: "Enterprise",
        scrolledCompletelyToRight: false,
        scrolledCompletelyToLeft: true,
        attackSelectOpen: false,
        domainSelectOpen: false,
      };
    },
    props: {
      url_prefix: String,
      all_attack_versions: Array,
      all_attack_domains: Object,
      attack_domain_versions_with_mappings: Object
    },
    computed: {
      attackDomains() {
        if (this.all_attack_domains) {
          return Object.keys(this.all_attack_domains).filter((domain) => {
            return this.all_attack_domains[domain].includes(
              this.selectedAttackVersion
            );
          });
        }
        return [];
      },
      attackVersions() {
        if (this.all_attack_versions) {
          return this.all_attack_domains[this.selectedDomain];
        }
      },
    },
    methods: {
      handleScroll(e) {
        const { offsetWidth, scrollWidth } = e.target;
        let scrollableElement = document.getElementById("matrix-table-scrollable");
        let scrollLeft = scrollableElement.scrollLeft;
        let scrollRight = scrollableElement.scrollRight;
        this.scrolledCompletelyToRight = (scrollLeft + offsetWidth) > (scrollWidth - 1);
        this.scrolledCompletelyToLeft = scrollLeft === 0;
      },
      getTooltipPosition() {
        let hoveredElement = document
          .getElementById(
            `${this.techniqueHovered.id}_${this.techniqueHovered.parent}_box`
          )
          ?.getBoundingClientRect();
        let xPosition = window.scrollX + hoveredElement?.x;
        let yPosition = window.scrollY + hoveredElement?.y;
        return `top:${yPosition - 100}px;left:${xPosition - 75}px;`;
      },
      getAttackObjectDict() {
        attack_object_file = `${this.url_prefix
          }static/matrices/${this.selectedDomain.toLowerCase()}/${this.selectedAttackVersion
          }/${this.selectedDomain.toLowerCase()}-${this.selectedAttackVersion
          }_matrix_data.json`;
        fetch(attack_object_file)
          .then((response) => response.json())
          .then((json) => {
            this.attackObjectDict = json;
            this.getTactics();
          });
      },
      getTactics() {
        let tactics = Object.values(this.attackObjectDict).filter((value) => {
          return value.type === "tactic";
        });
        tactics = tactics.map((tactic) => {
          tactic.techniques = Object.values(this.attackObjectDict).filter(
            (value) => {
              return (
                value.type === "technique" &&
                value.tactics.includes(tactic.short_name)
              );
            }
          );
          tactic.techniques = tactic.techniques.map((technique) => {
            technique.open = false;
            technique.parent = tactic.id;
            technique.subtechniques = Object.values(
              this.attackObjectDict
            ).filter((value) => {
              return (
                value.type === "subtechnique" &&
                value.technique === technique.id
              );
            });
            technique.subtechniques = technique.subtechniques.map((subtechnique) => {
              subtechnique.parent = technique.parent;
              return { ...subtechnique };
            });
            return { ...technique };
          });
          return { ...tactic };
        });
        this.tactics = tactics;
      },
      handleClick(technique) {
        technique.open = !technique.open;
      },
      toggleAllTechniques(open) {
        this.tactics.forEach((tactic) =>
          tactic.techniques.forEach((technique) => {
            technique.open = open;
          })
        );
      },
      setVersionsAccoringToQueryParams() {
        const url = new URL(window.location.href)
        if (url.searchParams.has('attack-version') && this.attackVersions.includes(url.searchParams.get('attack-version'))) {
          this.selectedAttackVersion = url.searchParams.get('attack-version');
        }
        else {
          let newurl = `${window.location.origin}${window.location.pathname}?attack-version=${this.selectedAttackVersion}&domain=${this.selectedDomain.toLowerCase()}`
          window.history.pushState({ path: newurl }, '', newurl);
        }
        if (url.searchParams.has('domain') && this.attackDomains.includes(url.searchParams.get('domain').toLowerCase())) {
          this.selectedDomain = this.attackDomains.find(domain => domain.toLowerCase() === url.searchParams.get('domain').toLowerCase());
        }
        else {
          let newurl = `${window.location.origin}${window.location.pathname}?attack-version=${this.selectedAttackVersion}&domain=${this.selectedDomain.toLowerCase()}`
          window.history.pushState({ path: newurl }, '', newurl);
        }
      },
      handleOutsideClick() {
        this.attackSelectOpen = false;
        this.domainSelectOpen = false;
      }
    },
    watch: {
      selectedAttackVersion: {
        handler(newValue) {
          let newurl = `${window.location.origin}${window.location.pathname}?attack-version=${this.selectedAttackVersion}&domain=${this.selectedDomain.toLowerCase()}`
          window.history.pushState({ path: newurl }, '', newurl);
        },
      },
      selectedDomain: {
        handler(newValue) {
          let newurl = `${window.location.origin}${window.location.pathname}?attack-version=${this.selectedAttackVersion}&domain=${this.selectedDomain.toLowerCase()}`
          window.history.pushState({ path: newurl }, '', newurl);
        },
      },
    },
    mounted() {
      this.getAttackObjectDict();
      this.setVersionsAccoringToQueryParams();
    },
  };

  Vue.createApp({
    components: {
      Matrix
    }
  }).mount("#matrix");

</script>

<style>
  #matrix {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  #matrix h1 {
    text-align: left !important;
  }

  #matrix div {
    font-size: 12px !important;
    overflow-wrap: break-word;
  }

  #matrix .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fc));
  }

  .matrix-header {
    padding-top: 100px;
  }

  .tactic-row {
    color: #212c5e !important;
    margin-top: 5px;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .tactic-box {
    border-bottom: 1px solid #212c5e;
  }

  .row--no-x-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .row--no-padding {
    padding: 0 !important;
  }

  .col--less-x-padding {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

  .col--no-x-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .subtechnique-toggle-col {
    padding: 0 !important;
    background-color: grey !important;
  }

  .subtechnique-toggle-col--no-icon {
    padding: 0 !important;
    background-color: transparent !important;
  }

  .tactic-name {
    font-weight: bold;
    font-size: 14px !important;
  }

  .tactic-header {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
  }

  .technique-box {
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 5px;
    color: black !important;
  }

  .subtechnique-box {
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid grey;
    padding: 5px;
    color: black !important;
  }

  .technique-box a {
    color: black !important;
  }

  .technique-box a:hover {
    color: #212c5e !important;
    text-decoration: underline;
  }

  .subtechnique-box a {
    color: black !important;
  }

  .subtechnique-box a:hover {
    color: #212c5e !important;
    text-decoration: underline;
  }

  .subtechnique-toggle {
    background-color: grey !important;
    height: 100% !important;
  }

  .technique-score {
    font-size: 10px !important;
  }

  .matrix-header {
    text-align: center;
  }

  .icon {
    cursor: pointer;
  }

  .toggle-subtechniques-btn {
    background-color: transparent;
    color: #212c5e;
    border-radius: 10px;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #212c5e;
    font-size: 14px;
    transition: 0.5s;
    margin-right: 5px;
  }

  .toggle-subtechniques-btn:hover {
    color: #005b94;
    border: 1px solid #005b94;
  }

  .matrix-table-container {
    background-color: white;
    padding: 40px;
    box-shadow: 2px 2px 4px #bdbdbd;
    border-radius: 5px;
  }

  .matrix-table-container-relative {
    position: relative;
    z-index: 0;
  }

  .subtechnique-toggle {
    background-color: grey;
  }

  .technique-tooltip {
    position: absolute;
    z-index: 999;
    border-radius: 3px;
    margin-left: -2.5%;
    margin-top: -2.5%;
    background-color: lightblue;
    color: #212c5e;
    padding: 8px;
    width: 120px !important;
    opacity: 0.9;
    text-overflow: ellipsis !important;
    box-shadow: 2px 2px 10px #ababab;
  }

  .header-row {
    padding: 0 !important;
    margin: 2px !important;
    color: #212c5e;
    opacity: 1;
  }

  .subtechniques-col {
    border-right: 4px solid grey;
  }

  .matrix-component {
    position: relative;
    z-index: 0;
  }

  .scroll-indicator-right {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.001), white);
    right: 0;
    width: 100px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
  }

  .scroll-indicator-left {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.001), white);
    width: 100px;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }

  .dropdown-items {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px #bdbdbd;
    border-radius: 5px;
    z-index: 999;
    width: 150px;
  }

  .select {
    width: 150px;
    cursor: pointer;
  }

  .dropdown-item {
    cursor: pointer;
    border-top: 1px solid #dbdbd9;
  }

  .dropdown-item:hover {
    background-color: #ededeb;
  }

  .dropdown-item-text {
    margin-left: 4px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .invalid-option {
    color: #bdbdbd !important;
  }

  .selected-item {
    font-size: 1.25rem !important;
  }

  .selected-option {
    background-color: #ededeb;
  }
</style>
{% endblock content %}
