{% extends "base.html.j2" %}

{% block content %}
<section class="header-container">
    <div class="container ">
        {% include "_breadcrumbs.html.j2" %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center">MAPPING <span class="highlight">METHODOLOGY</span></h1>
            </div>
        </div>
    </div>
</section>

<section class="services-cards gray-bg">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2>Methodology Overview</h2>
        </div>

        <p>This page describes the methodology used to map security controls native to a mapping framework or technology
            platform to <a href="https://attack.mitre.org/" target="_blank">MITRE ATT&CK®</a>.
            This methodology is based upon our experience mapping frameworks and platforms and aims to provide the community
            with a reusable method of using ATT&CK to determine the capabilities of security offerings.
        </p>
        <p>ATT&CK is a globally-accessible knowledge base of adversary tactics and techniques based on real-world
            observations. The ATT&CK knowledge base represents adversary goals as tactics and the specific behaviors
            employed by adversaries to achieve those goals (how) as techniques and sub-techniques. The methodology
            described below, utilizes the information in the ATT&CK knowledge base and its underlying data model to
            understand, assess and record the real-world threats that security controls native to a technology platform
            are able to mitigate.</p>
        <p>Much like an ATT&CK mitigation, a mapping between a security control and an ATT&CK technique or sub-technique
            means that the security control may prevent successful execution of the technique or sub-technique. Each security
            control is examined in the context of ATT&CK mitigations and each specific technique.</p>
        <p>The methodology consists of the following steps:</p>
        <ol>
            <li>
                <h3><a href="#step1">Identify Platform Security Controls</a></h3> - Identify the native security
                controls available on the platform.
            </li>
            <li>
                <h3><a href="#step2">Security Control Review</a></h3> - For each identified control, understand the
                security capabilities it provides.
            </li>
            <li>
                <h3><a href="#step3">Identify Mappable ATT&CK Techniques & Sub-techniques</a></h3> - Identify the ATT&CK
                techniques and sub-techniques
                mappable to the control.
            </li>
            <li>
                <h3><a href="#step4">Score Assessment*</a></h3> - Assess the effectiveness of the type of protection the
                control provides for the identified ATT&CK techniques and sub-techniques.
            </li>
            <li>
                <h3><a href="#step5">Create a Mapping</a></h3> - Creating a mapping based on the information gathered
                from the previous steps.
            </li>
        </ol>
        <p>* Scoring assessments have been performed for technology platform capability mappings (e.g., M365) to record
            the category of ATT&CK coverage provided by a control (protect, detect, or response) along with an assessment
            of its effectiveness (minimal, partial, or significant). Control effectiveness for security control frameworks
            (e.g., NIST 800-53) are not defined; controls are either mapped or not mapped as mitigations of a given
            technique or sub-technique.</p>
    </div>
</section>

<section id="step1" class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Step 1:</span> Identify Platform Security Controls</h2>
        </div>

        <p>Cyber security has emerged as an essential component of technology platforms, and consequently vendors tend
            to offer a variety of documentation on the security capabilities of their platform. Review the platform
            documentation (e.g. security reference architectures, security benchmarks, security documentation of various
            services, etc.) to identify the security controls offered by the platform for protecting workloads on the
            platform. Keep the following in mind while selecting controls:</p>
        <ul>
            <li>The scope of the controls mapped by this project are the technical control types and do not include
                administrative or physical control types.</li>
            <li>Controls that may only monitor adversary behaviors are typically out of scope. The focus is on controls
                that mitigate adversary techniques and sub-techniques.</li>
            <li>The selected controls should be native to the platform, i.e., produced by the vendor themselves or
                third-party controls branded by the vendor. For example, thirty-party security controls offered in cloud
                marketplaces are considered out of scope.</li>
            <li>The intent is not to provide a mapping for all settings/features of individual platform services that
                are security related. This is a non-trivial undertaking that may be explored at a later time.</li>
        </ul>
    </div>
</section>

<section id="step2" class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Step 2:</span> Security Control Review</h2>
        </div>

        <p>For each identified security control, consult the available documentation to understand its capabilities.
            It is necessary to understand and identify the security concepts and technologies that can be used to
            prevent a given action from being successfully executed. Examine the context of the mitigation provided
            by the control.</p>

        <p>Gathering the following facts about the security control will later help in mapping the control to the set
            of ATT&CK techniques and sub-techniques it is able to mitigate:</p>

        <ul>
            <li>Category of security function provided by the control:</li>
            <ul>
                <li>Protect: reduces the likelihood of the occurrence of a cybersecurity event.</li>
                <li>Detect: identifies the occurrence of a cybersecurity event.</li>
                <li>Respond: reduces or remediates the impact of a cybersecurity event.</li>
            </ul>
            <li>The resource type(s) protected by the control (e.g. identity, storage, network, etc.).</li>
            <li>If applicable, the list of operating systems supported by the control.</li>
            <li>Temporal nature of the control's operation:</li>
            <ul>
                <li>Does the control operate in real-time?</li>
                <li>Does the control operate periodically (hourly, daily, weekly, etc.)?</li>
                <li>Is the control event triggered? How often do these events occur?</li>
            </ul>
            <li>Specific threats cited in documentation that the control mitigates.</li>
        </ul>
    </div>
</section>

<section id="step3" class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Step 3:</span> Identify Mappable ATT&CK Techniques & Sub-techniques</h2>
        </div>

        <p>After understanding the capabilities of the security control and gathering the basic facts about its
            operation, as identified in the previous step, review the ATT&CK matrix and identify the techniques and
            sub-techniques the control is able to mitigate.</p>

        <p>The following may help with this process:</p>

        <h3>Identify ATT&CK Tactics and Mitigations</h3>
        <ul>
            <li>The resource type(s) protected by the control, as identified in the previous step, can help narrow down
                the ATT&CK tactics which are in scope for this control.</li>
            <ul>
                <li>Example: A control that protects identity related resources can help you focus your attention on
                    ATT&CK tactics relevant to identity, such as: Privilege Escalation and Credential Access.</li>
            </ul>
            <li>ATT&CK's mitigations which describe the configurations, tools or process that can prevent the successful
                execution of a set of (sub-)techniques, can also be used to identify the ATT&CK tactics that should be
                reviewed.</li>
            <ul>
                <li>Identify the ATT&CK mitigations that provide similar capabilities as the security control. Each
                    mitigation comes with the list of ATT&CK (sub-)techniques that it is able to prevent its successful
                    execution. The ATT&CK tactics associated with these (sub-)techniques should be reviewed.</li>
            </ul>
            <li>Use any examples of threats cited in the control documentation to also narrow down the ATT&CK tactics to
                review.</li>
        </ul>

        <h3>Identify ATT&CK Techniques & Sub-techniques</h3>
        <ul>
            <li>Review the description of each ATT&CK technique to determine if the control is able to mitigate the
                adversary behavior described in the technique.</li>
            <li>If the technique contains sub-techniques:</li>
            <ul>
                <li>For each sub-technique, review its description and procedure examples to determine if the control is
                    able to mitigate the behavior described.</li>
                <li>Ensure the control supports the sub-technique platforms.</li>
                <li>If this control is a protective control, the sub-technique Mitigations section can be especially
                    useful in determining if this sub-technique would be prevented by this control.</li>
                <li>If this control is a detective control, the sub-technique Detections section can be especially
                    useful in determining if this sub-technique would be detected by this control.</li>
            </ul>
            <li>ATT&CK currently does not provide guidance on how to respond to (sub-)techniques. Utilize the
                (sub-)technique description and procedure examples to determine if it should be in scope.</li>
        </ul>
    </div>
</section>

<section id="step4" class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Step 4:</span> Score Assessments</h2>
        </div>

        <p>After identifying the techniques and sub-techniques that are mappable to the control, use the
            <a href="{{url_prefix}}about/scoring/"> scoring rubric</a>
            to score the effectiveness of the security function (protect, detect, respond) provided by the control in
            relation to the behavior described by the ATT&CK technique or sub-technique. The scoring rubric provides
            score
            values of Minimal, Partial, and Significant based on careful consideration of scoring factors, including the
            control's ability to mitigate the behavior described, how frequently the control operates, and the fidelity
            of the capability.
        </p>

        <p>Currently, AWS, Azure, GCP, Intel vPro, and M365 security capability mappings provide these scoring assessments.
            Scoring assessments for security control framework mappings (e.g., NIST 800-53, The CRI Profile, CSA CCM) are not defined.</p>
    </div>
</section>

<section id="step5" class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Step 5:</span> Create A Mapping</h2>
        </div>

        <p>The previous steps enabled the gathering of information required to create a mapping file for a control
            according to the mapping data format. Use the following guidelines to help in the process of creating a
            mapping:</p>
        <ul>
            <li>The mapping format promotes producing mappings that are self-contained, enabling a reader of the mapping
                file to understand the basic functionality provided by the control and also the rational for selecting
                the ATT&CK techniques and sub-techniques to which it maps. </li>
            <li>When scoring a control's effectiveness at mitigating a technique or sub-technique, use the comment field
                to provide an explanation of the assessment.</li>
        </ul>
    </div>
</section>

<section class="services-cards">
    <div class="container col-lg-8 offset-lg-2">

        <div class="section-header">
            <h2><span class="highlight">Additional</span> Resources</h2>
        </div>

        <ul>
            <li><strong>CSA CCM:</strong> <a href="./csa-ccm-scope/">Scope</a></li>
            <li><strong>CVE:</strong> <a href="./cve-methodology/">Methodology</a></li>
            <li><strong>CRI Profile:</strong> <a href="./cri-profile-scope/">Scope</a></li>
            <li><strong>NIST 800-53:</strong> <a href="./nist-methodology/">Methodology</a> | <a
                    href="./nist-scope/">Scope</a></li>
            <li><strong>Security Stack Mappings:</strong> <a href="./ssm-methodology/">Methodology</a></li>
            <li><strong>VERIS:</strong> <a href="./veris-methodology/">Methodology</a></li>
        </ul>
    </div>
</section>
{% endblock content %}
