{% extends "base.html.j2" %}

{% block content %}
<section id="about-header" class="header-container">
  <div class="container aos-init aos-animate">
    {% include "_breadcrumbs.html.j2" %}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center"><span class="highlight">RELATED</span> PROJECTS</h1>
        <p>The <a href="https://ctid.mitre.org/"
            target="_blank">Center for Threat-Informed Defense</a> creates solutions that expand upon the
          <a href="https://attack.mitre.org/" target="_blank">MITRE ATT&CK®</a>
          knowledge base to better understand cyber adversaries and their tradecraft in order to advance
          threat-informed defense. The following Center projects are most closely
          related to the security capability mappings projects presented in Mappings Explorer.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="mappings-explore-uses" class="services-list">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>Related to Mappings Explorer</h2>
    </div>
    <div class="row gy-5 col-lg-8 offset-lg-2 mb-5">
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Mappings Editor</h4>
          <blockquote>
            <p>The Center for Threat-Informed Defense creates the data you see on this site using
              a specialized tool developed called
              Mappings Editor. This tool is optimized for mapping security
              capabilities to MITRE ATT&CK. It includes powerful features for
              efficiency and accuracy. We released it as a public beta
              for anybody who wants to create their own mappings, whether to share
              mappings of publicly known security capabilities, or to privately document your
              organization's internal security controls.</p>
          </blockquote>
          <div class="section-details">
            <a href="https://github.com/center-for-threat-informed-defense/mappings-editor/wiki" target="_blank"
              class="readmore stretched-link"><span>Learn More About Mappings Editor</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">ATT&CK Sync</h4>
          <blockquote>
            <p>The ATT&CK Sync project streamlines upgrades to new versions of MITRE ATT&CK® by providing tools
              and resources to migrate existing projects to current ATT&CK versions in a timely and efficient
              manner. The ATT&CK knowledge base is updated twice per year and with each new ATT&CK release,
              projects fall behind and become outdated. ATT&CK Sync provides tools and a methodology that
              organizations can implement to update to the latest version of ATT&CK, keeping their
              threat-informed defense timely and relevant to emerging threats. </p>
          </blockquote>
          <div class="section-details">
            <a href="https://github.com/center-for-threat-informed-defense/attack-sync/wiki" target="_blank"
              class="readmore stretched-link"><span>Learn More About ATT&CK Sync</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-5 col-lg-8 offset-lg-2">
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">Sensor Mappings to ATT&CK</h4>
          <blockquote>
            <p>The Sensor Mappings to ATT&CK project provides a collection of resources to assist security
              operations teams and security leaders with understanding which tools, capabilities, and events
              can help provide visibility into real-world adversary behaviors potentially occurring in their
              environments. SMAP builds on MITRE ATT&CK® Data Sources by connecting the conceptual data source
              representations of information that can be collected to concrete logs, sensors, and other security
              capabilities that provide that type of data. </p>
          </blockquote>
          <div class="section-details">
            <a href="https://center-for-threat-informed-defense.github.io/sensor-mappings-to-attack/" target="_blank"
              class="readmore stretched-link"><span>Learn More About Sensor Mappings</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div>
          <h4 class="title">ATT&CK Powered Suit</h4>
          <blockquote>
            <p>ATT&CK Powered Suit is a free browser extension that puts the
              MITRE ATT&CK® knowledge base at your fingertips. This extension enables quick
              searches for tactics, techniques, and more without disrupting your workflow.
              Easily copy snippets into a notebook to streamline your research. Export selected
              techniques to ATT&CK navigator. The extension supports context menus, omnibar,
              and more.</p>
          </blockquote>
          <div class="section-details">
            <a href="https://ctid.mitre.org/projects/attack-powered-suit/"
              target="_blank" class="readmore stretched-link"><span>Learn More About ATT&CK Powered Suit</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="call-to-action" class="call-to-action gray-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h3>Learn More</h3>
        <p>Interested in what other types of work the
          <a href="https://ctid.mitre.org/">
            Center for Threat-Informed Defense does?
          </a>
          Check out other projects that we have published.
        </p>
        <a class="cta-btn" target="_blank"
          href="https://ctid.mitre.org/projects/">View Published
          Projects</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
