{% extends "base.html.j2" %} {% block content %}
<div id="search">
  <Search url_prefix="{{url_prefix}}"></Search>
</div>

<script src="{{url_prefix}}static/lunr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>

<script>
  const Search = {
    template: `
      <div>
        <section id="header-container" class="header-container">
          <div class="container" data-aos="fade-up">
            <h1 style="text-transform: uppercase" class="text-center">
              <span class="highlight">Search</span> for Mappings
            </h1>
          </div>
          <div class="input-group search-bar rounded">
            <span class="input-group-text transparent border-0" id="search-addon">
              <a onclick="handleSearch">
                <img
                  :src="url_prefix + 'static/img/search.svg'"
                  alt="search"
                  style="height: 20px"
              /></a>
            </span>
            <input
              type="search"
              id="search-page-search-input"
              class="form-control transparent border-none search-bar-input rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              width="100"
              v-model="searchModel"
              v-on:keyup.enter="handleKeypress($event)"
            />
          </div>
        </section>
        <div class="loader" v-if="loading"></div>
        <section>
          <div class="container" data-aos="fade-up" v-if="resultsLength">
            <h2>PAGES FOR "[[ searchString.toUpperCase() ]]"</h2>
            <div
              class="result-container"
              v-for="result in displayedResultKeys"
              :key="result"
            >
              <div v-if="results[result].ref.startsWith('external/')">
                <a class="result-title" :href="url_prefix + results[result].ref"> [[ results[result].pageData.name ]] </a>
                <div class="result-subtext">
                  <span>Page for [[ getStringFromUrl(results[result].ref, 'external/') ]] control [[ results[result].pageData.name]]</span>
                  <span class="float-right">
                    ATT&CK Version: <b>[[ getStringFromUrl(results[result].ref, "attack-") ]]</b>
                    ATT&CK Domain: <b>[[ getStringFromUrl(results[result].ref, "domain-") ]]</b>
                  </span>
                </div>
              </div>
              <div v-else>
                <a class="result-title" :href="url_prefix + results[result].ref"> [[ results[result].pageData.id ]] [[ results[result].pageData.name ]]</a>
                <div class="result-subtext">
                  <span>
                    Page for ATT&CK [[ results[result].pageData.id.includes('.') ? 'subtechnique' : 'technique' ]]
                    [[ results[result].pageData.id ]] [[ results[result].pageData.name]]
                  </span>
                  <span class="float-right">
                    ATT&CK Version: <b>[[ getStringFromUrl(results[result].ref, "attack-") ]]</b>
                    ATT&CK Domain: <b>[[ getStringFromUrl(results[result].ref, "domain-") ]]</b>
                  </span>
                </div>
              </div>
            </div>
            <nav v-if="amountOfPages > 1">
              <span>
                Showing [[ parseInt(displayedResultKeys[0]) + 1 ]]  to [[ parseInt(displayedResultKeys[displayedResultKeys.length - 1]) + 1 ]] of [[ resultsLength ]] results
                <select v-model="itemsPerPage">
                  <option
                    v-for="item in itemPerPageOptions.filter(option => option <= resultsLength)"
                    :value="item"
                  >
                    [[ item ]]
                  </option>
                </select>
                items per page
              </span>
              <ul class="pagination float-right">
                <li class="pagination-item previous" v-if="pageNum > 1" @click="pageNum --">
                  <img
                    class="icon"
                    src="{{url_prefix}}static/img/chevron-left-purple.svg"
                    alt="previous"
                  />
                </li>
                <li
                  :class="{
                    'pagination-item': true,
                    'previous': index === 1 && pageNum === 1,
                    'next': index === amountOfPages && pageNum === index,
                    'pagination-item--active': pageNum === index
                  }"
                  v-for="index in amountOfPages"
                  @click="pageNum = index"
                >
                 [[ index ]]
                </li>
                <li class="pagination-item next" v-if="pageNum < amountOfPages" @click="pageNum++">
                  <img
                    class="icon"
                    src="{{url_prefix}}static/img/chevron-right-purple.svg"
                    alt="next"
                  />
                </li>
              </ul>
            </nav>
          </div>
          <div class="container" data-aos="fade-up" v-else>
            <h2>No Pages Match Search "[[ searchString ]]"</h2>
          </div>
        </section>
      </div>
  `,
    delimiters: ["[[", "]]"],
    props: {
      url_prefix: String,
    },
    data() {
      return {
        webPages: undefined,
        index: undefined,
        results: {},
        searchModel: "",
        searchString: "",
        pageNum: 1,
        itemsPerPage: 10,
        itemPerPageOptions: [10, 25, 50, 100],
        loading: true,
      };
    },
    computed:{
      displayedResultKeys(){
        // get results that are on the current page
        return Object.keys(this.results).filter(r => (r >= (this.pageNum - 1) * this.itemsPerPage) && (r <= (this.pageNum - 1) * this.itemsPerPage + this.itemsPerPage - 1));
      },
      resultsLength(){
        return Object.keys(this.results).length;
      },
      amountOfPages(){
        return Math.ceil(this.resultsLength / this.itemsPerPage);
      }
    },
    methods: {
      getStringFromUrl(url, string) {
        let returnStringAndOn = url.substring(url.indexOf(string) + string.length);
        let returnString = returnStringAndOn.substring(0, returnStringAndOn.indexOf("/"));
        if (returnString === "enterprise" || returnString === "mobile" || returnString === 'veris' || returnString === 'azure'){
          return returnString.charAt(0).toUpperCase() + returnString.slice(1);
        }
        else if(returnString === 'ics' || returnString === 'aws' || returnString === 'gcp' || returnString === 'cve'){
          return returnString.toUpperCase();
        }
        else if (returnString === 'nist') {
          return 'NIST 800-53';
        }
        return returnString
      },

      /**
       * Run a query on the search index and return the results.
       */
      searchIndex(query) {
        if (!this.index) {
          console.error("Search index is not initialized.");
          return;
        }

        const allResults = this.index.search(query);
        for (const result of allResults) {
          result.pageData = this.webPages[result.ref];
        }

        return {
          query,
          results: allResults,
          totalCount: allResults.length,
        };
      },

      /**
       * Initialize the search index.
       */
      async initializeSearch(indexUrl) {
        indexFile = await fetch(indexUrl);
        fileBuffer = await indexFile.arrayBuffer();
        let zip = new JSZip();
        let loadedZip = await zip.loadAsync(fileBuffer);
        for (const filename of Object.keys(loadedZip.files)) {
          let indexData = await loadedZip.files[filename].async('string');
          let indexJson = JSON.parse(indexData);
          this.webPages = indexJson["pages"];
          this.index = lunr.Index.load(indexJson["index"]);
        }
      },

      async searchMain() {
        const url = new URL(window.location.href);
        if (url.searchParams.get("search")) {
          let search = url.searchParams.get("search");
          this.searchString = search;
          this.searchModel = search;
          document.getElementById("nav-search-input").value = search;
          let results = this.searchIndex(this.searchString);
          this.results = results.results;
        }
      },
      handleSearch(){
        this.searchString = this.searchModel;
        let newurl = `${window.location.origin}${window.location.pathname}?search=${this.searchString}`
        window.history.pushState({path:newurl},'',newurl);
        document.getElementById("nav-search-input").value = this.searchString;
        this.searchMain();
      },
      handleKeypress(event){
        if (event.key === "Enter") {
          this.handleSearch();
        }
      }
    },
    async mounted() {
      await this.initializeSearch(`${this.url_prefix}static/lunr-index.zip`);
      this.loading = false;
      this.searchMain();
    },
  };

  const app = new Vue({
    el: "#search",
    components: {
      Search: Search,
    },
  });
</script>
<style>
  .result-container {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 4px #bdbdbd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .result-subtext {
    margin-left: 1rem;
  }
  .result-title {
    font-size: 18px;
  }
  .pagination-item {
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    min-width: 40px;
    text-align: center;
    color: #6241c5;
  }
  .pagination-item--active {
    background-color: #6241c5;
    color: white;
  }
  .pagination-item:hover {
    background-color: #dee2e6;
    color: #495057;
  }
  .pagination-item--active:hover {
    background-color: #6241c5;
    color: white;
  }
  .next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #dee2e6;
  }
  .float-right {
    float: right;
  }
  .search-bar {
    width: 50%;
    margin: auto;
    border: 1px solid #495057;
  }
  .border-none {
    border: none;
  }
  .transparent {
    background-color: transparent;
  }
  .search-bar-input:focus {
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #005b94;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

</style>
{% endblock content %}

