{% import "./macros.html.j2" as macros %}
{% extends "base.html.j2" %}

{% block content %}
<div id="my_view">
{% include "_banner.html.j2" %}

   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-lg-12 col-md-12 col-sm-12">
          {{ macros.back_button("", "ATT&CK Landing", url_prefix)}}
          <h1 style="text-transform: uppercase;"> {{technique.id}} <span class="highlight">{{ technique.label }}</span> Mappings</h1>
          {%-markdown-%}
            {{technique.description}}
          {%-endmarkdown-%}
        </div>
      </div>
    </div>
  </section>
  <section id="attack-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="row">
            <div class="col-lg-4 col-md-12">
            <h2 style="width: max-content">ATT&CK Technique Mappings</h2>
            </div>
            <div class="col-lg-8 col-md-12" style="margin-left: auto;">
            {% include "_badge-section.html.j2" %}
            </div>
        </div>
        <div class="col-12">
            {{ macros.table(headers, mappings) }}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
