{% extends "base.html.j2" %}

{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{{url_prefix}}static/img/earth.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2 style="text-transform: uppercase;"> Mappings <span style="margin-left: 5px; color: #C2EAF6;">Use Cases</span></h2>

    </div>
</div>

<section id="about" class="about white-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
            <div class="col-lg-6 offset-lg-3">
                <div class="content">
                    <h3>foo bar baz bat</h3>
                    <p>
                        todo
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="services-cards" class="services-cards gray-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>section headeer</h2>
            <p>section text</p>
        </div>
    </div>
</section>
{% endblock content %}
