  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>MAPPINGS <span style="color: #C2EAF6"> EXPLORER</span></span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>

            <div class="d-flex mt-3 gap-4">
              <img src="../templates/static/img/logo-horizontal-white.png" alt="center for threat informed defense logo" style="height: 20px; margin-top: 4px;"/>
              <div class="social-links d-flex">
                <a href="https://twitter.com/MITREengenuity" target="blank" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" target="blank" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/center-for-threat-informed-defense" target="blank" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" target="blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>MAPPING TYPES</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">NIST 800-53</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">VERIS</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">CVE</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Google Cloud Platform (GCP)</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Azure</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Amazon Web Services (AWS)</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>ATT&CK OBJECTS</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Techniques</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Tactics</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Data Sources/Components</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Groups</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>OTHER LINKS</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Search</a></li>
              <li><i class="bi bi-dash"></i> <a href="external-landing.html">About External Mappings</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
