<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">MAPPINGS EXPLORER</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>

          <li class="dropdown"><a href="#"><span>ATT&CK OBJECTS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>

              <li><a href="#">Tactics</a></li>
              <li class="dropdown"><a href="#"><span>Techniques</span><i class="bi bi-chevron-down dropdown-indicator"></i></a></li>
              <ul>
                <li><a href="#">Techniques to NIST</a></li>
                <li><a href="#">Techniques to Veris</a></li>
                <li><a href="#">Techniques to CVE</a></li>
                <li><a href="#">Techniques to Google Cloud Platform (GCP)</a></li>
                <li><a href="#">Techniques to Azure</a></li>
                <li><a href="#">Techniques to Amazon Web Services (AWS)</a></li>
              </ul>
              <li><a href="#">Data Sources/ Data Components</a></li>
              <li><a href="#">Groups</a></li>
              <li><a href="#">Search All ATT&CK Objects</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>MAPPING CONTROLS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="about-mappings.html">External Mappings</a></li>
              <li><a href="#">VERIS</a></li>
              <li><a href="#">NIST 800-53</a></li>
              <li><a href="#">CVE</a></li>
              <li><a href="#">Amazon Web Services (AWS)</a></li>
              <li><a href="#">Google Cloud Platform (GCP)</a></li>
              <li class="dropdown"><a href="#"><span>Azure</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Version 1.0</a></li>
                  <li><a href="#">Version 1.1</a></li>
                  <li><a href="#">Version 2.0</a></li>
                  <li><a href="#">Version 2.1</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li style="padding: 10px;">
            <div class="input-group rounded">
              <input type="search" class="search-input form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0 bg-primary" id="search-addon">
                <img src="../templates/static/img/search-white.svg" alt="search" style="height: 20px;"/>
              </span>
            </div>
          </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
