{% extends "base.html.j2" %}
{% block content %}
{% include "_banner.html.j2" %}
   <section id="header-container" class="header-container">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <h1><span class="highlight">{{control}}</span> MAPPINGS</h1>
          {% for paragraph in description %}
            <p>
              {{- paragraph -}}
            </p>
          {% endfor %}
          <div class="section-details">
            <p>
              <span>Total Mappings: <strong>300</strong></span>
              <span>ATT&CK Versions: <strong>{{ attackVersions|join(', ') }}</strong></span>
              <span>ATT&CK Domain: <strong>{{ domains|join(', ')|capitalize() }}</strong></span>
            </p>
          </div>
        </div>
        <div class="download-artifacts col-lg-4 col-md-2 col-sm-12 ml-20">
          <h6>Download Mapping Artifacts:</h6>
          <div class="downloads">
            <p><a href="#"><span><img src="../templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> YAML</a></p>
            <p><a href="#"><span><img src="../templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> CSV</a></p>
            <p><a href="#"><span><img src="../templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> STIX Bundles</a></p>
            <p><a href="#"><span><img src="../templates/static/img/download.svg" alt="download" style="height: 20px;"/></span> Navigator Layers</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="version-select" class="version-select">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>CHOOSE YOUR VERSIONS</h2>
          <div class="row col-12" style="display: flex;">
            <div class="col-sm-4 col-md-3 form-group">
              <p>NIST Version</p>
              <select name="nist-version" id="nist-version" class="form-control">
                {% for v in versions %}
                <option value={v}>{{v}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4 col-md-3 form-group">
              <p>ATT&CK Version</p>
              <select name="attack-version" id="attack-version" class="form-control">
                {% for v in attackVersions %}
                <option value={v}>{{v}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4 col-md-3 form-group">
              <p>ATT&CK Domain</p>
              <select name="domain" id="attack-domain" class="form-control">
                {% for d in domains %}
                <option value={d}>{{d|capitalize }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4 col-md-3 form-group" style="margin-top: 28px;">
            <a href="#about" class="btn-pill">See Mappings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mapping-table" class="mapping-table">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-left">
        <div class="col-12">
          <h2>CONTROL FAMILIES</h2>
          {% block table %}
            {% include "_table.html.j2"%}
          {% endblock table %}
      </div>
    </div>
  </section>

          {#<p>{{nist_version}}</p>
          <p id="demo"> </p>#}
<script>
var url = window.location.search;
function getParamsFromUrl(url) {
  url.split("&").forEach(function(part) {
    var item = part.split("=");
    if (item[0] == "nist_version") {
      nist_version = item[1];
    }
  })
  document.getElementById("demo").innerHTML = "default "+ nist_version;

}
</script>
{% endblock content %}
